@import "tailwindcss";


:root {
   --color-primary: hsl(106, 50%, 90%);
   --color-secondary: hsl(160, 17%, 7%);
   --color-tertiary: hsl(166, 80%, 20%);
   --color-accent: hsl(46, 80%, 20%);
   --color-muted: hsl(160, 5%, 40%);
   --color-border: hsl(160, 5%, 80%);
   --color-error: hsl(0, 70%, 45%);
}


@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-accent: var(--color-accent);
  --font-space: var(--font-space);
  --font-manrope: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
   --color-primary: hsl(160, 17%, 7%);
   --color-secondary: hsl(106, 50%, 90%);
   --color-tertiary: hsl(166, 80%, 80%);
   --color-accent: hsl(46, 80%, 80%);
   --color-muted: hsl(106, 5%, 60%);
   --color-border: hsl(160, 5%, 20%);
   --color-error: hsl(0, 80%, 65%);

  }
}

body {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}
